# Preprocessing Text for LSTM

In [1]:
import pandas as pd

In [54]:
from deep_translator import DeepL

In [60]:
from deep_translator import GoogleTranslator
from deep_translator import MyMemoryTranslator

In [58]:
text= 'Un essai de texte'
translated = DeepL(api_key="9668a8d0-17ef-e291-79d3-5f1416eb3141:fx",source="fr", target="en", use_free_api=True).translate(text)
translated

'A text essay'

In [62]:
def translate_en(text):
    try:
        translated = DeepL(api_key="9668a8d0-17ef-e291-79d3-5f1416eb3141:fx",source="fr", target="en", use_free_api=True).translate(text)
    except:
        try:
            translated = GoogleTranslator(source='auto', target='en').translate(text=text)
        except:
            try:
                translated = MyMemoryTranslator(source='auto', target='en').translate(text)
            except:
                translated = text
    return translated

In [65]:
fr_labelled['text'][:1000]

0         moutarde au moût de raisin  eau graines de té...
7        peanuts peanuts, wheat flour, sugar, rice flou...
9        nectar d'abricot jus et purée d'abricots (50% ...
12       organic salted nut mix organic hazelnuts, orga...
13                         organic polenta organic polenta
                               ...
15879    dipping sauce soybean oil, distilled vinegar, ...
15881    honey barbecue wing sauce high fructose corn s...
15882    barbecue sauce high fructose corn syrup, disti...
15883    barbecue sauce high fructose corn syrup, disti...
15884    mild buffalo wing sauce, mild buffalo distille...
Name: text, Length: 10000, dtype: object

In [68]:
fr_labelled['text_translated'] = fr_labelled['text']
fr_labelled

,text,pnns_groups_1,pnns_groups_2,text_translated
0,moutarde au moût de raisin eau graines de té...,fat and sauces,dressings and sauces,moutarde au moût de raisin eau graines de té...
7,"peanuts peanuts, wheat flour, sugar, rice flou...",beverages,sweetened beverages,"peanuts peanuts, wheat flour, sugar, rice flou..."
9,nectar d'abricot jus et purée d'abricots (50% ...,cereals and potatoes,bread,nectar d'abricot jus et purée d'abricots (50% ...
12,"organic salted nut mix organic hazelnuts, orga...",composite foods,one-dish meals,"organic salted nut mix organic hazelnuts, orga..."
13,organic polenta organic polenta,milk and dairy products,dairy desserts,organic polenta organic polenta
...,...,...,...,...
195248,"stoneground mustard aioli, stoneground soybean...",beverages,sweetened beverages,"stoneground mustard aioli, stoneground soybean..."
195249,baked pretzel twists unbleached enriched wheat...,composite foods,one-dish meals,baked pretzel twists unbleached enriched wheat...
195250,"buttermilk pancake & waffle mix, buttermilk en...",beverages,sweetened beverages,"buttermilk pancake & waffle mix, buttermilk en..."
195251,"buttered toffee pancake & waffle mix, buttered...",fruits and vegetables,fruits,"buttered toffee pancake & waffle mix, buttered..."
195254,"holiday train gingerbread kit, ginger cookies:...",fish meat eggs,offals,"holiday train gingerbread kit, ginger cookies:..."

In [69]:
fr_sample = fr_labelled[:100]
fr_sample['text_translated'] = fr_sample['text_translated'].apply(lambda x: translate_en(x))

<ipython-input-69-455d9bd7002b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fr_sample['text_translated'] = fr_sample['text_translated'].apply(lambda x: translate_en(x))

In [72]:
import time

In [73]:
%%time
fr_sample = fr_labelled[100:10000]
fr_sample['text_translated'] = fr_sample['text_translated'].apply(lambda x: translate_en(x))
fr_labelled[100:10000] = fr_sample
fr_labelled

Wall time: 1h 41min 29s
<timed exec>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,text,pnns_groups_1,pnns_groups_2,text_translated
0,moutarde au moût de raisin eau graines de té...,fat and sauces,dressings and sauces,grape must mustard water mustard seeds red wi...
7,"peanuts peanuts, wheat flour, sugar, rice flou...",beverages,sweetened beverages,"peanuts peanuts, wheat flour, sugar, rice flou..."
9,nectar d'abricot jus et purée d'abricots (50% ...,cereals and potatoes,bread,"apricot nectar, juice and purée of apricots (5..."
12,"organic salted nut mix organic hazelnuts, orga...",composite foods,one-dish meals,"organic salted nut mix organic hazelnuts, orga..."
13,organic polenta organic polenta,milk and dairy products,dairy desserts,organic polenta organic polenta
...,...,...,...,...
195248,"stoneground mustard aioli, stoneground soybean...",beverages,sweetened beverages,"stoneground mustard aioli, stoneground soybean..."
195249,baked pretzel twists unbleached enriched wheat...,composite foods,one-dish meals,baked pretzel twists unbleached enriched wheat...
195250,"buttermilk pancake & waffle mix, buttermilk en...",beverages,sweetened beverages,"buttermilk pancake & waffle mix, buttermilk en..."
195251,"buttered toffee pancake & waffle mix, buttered...",fruits and vegetables,fruits,"buttered toffee pancake & waffle mix, buttered..."
195254,"holiday train gingerbread kit, ginger cookies:...",fish meat eggs,offals,"holiday train gingerbread kit, ginger cookies:..."

In [67]:
fr_labelled

,text,pnns_groups_1,pnns_groups_2
0,moutarde au moût de raisin eau graines de té...,fat and sauces,dressings and sauces
7,"peanuts peanuts, wheat flour, sugar, rice flou...",beverages,sweetened beverages
9,nectar d'abricot jus et purée d'abricots (50% ...,cereals and potatoes,bread
12,"organic salted nut mix organic hazelnuts, orga...",composite foods,one-dish meals
13,organic polenta organic polenta,milk and dairy products,dairy desserts
...,...,...,...
195248,"stoneground mustard aioli, stoneground soybean...",beverages,sweetened beverages
195249,baked pretzel twists unbleached enriched wheat...,composite foods,one-dish meals
195250,"buttermilk pancake & waffle mix, buttermilk en...",beverages,sweetened beverages
195251,"buttered toffee pancake & waffle mix, buttered...",fruits and vegetables,fruits
195254,"holiday train gingerbread kit, ginger cookies:...",fish meat eggs,offals

In [ ]:
fr_labelled

In [3]:
%%time
df_raw = pd.read_csv(r'C:\Users\Antoine\Coding Bootcamp\Open Food Facts\en.openfoodfacts.org.products.csv', sep='\t', low_memory=False)
df_raw.shape

Wall time: 1min 13s

(1625068, 184)

In [4]:
df = df_raw[['countries_tags','ingredients_text', 'product_name', 'pnns_groups_1', 'pnns_groups_2']].dropna()
df.countries_tags.value_counts()

en:united-states                                                                                                                                                                                                                                                                                                                                                                                                                                 313911
en:france                                                                                                                                                                                                                                                                                                                                                                                                                                        195256
en:germany                                                                                                                                                                                                                                                                                                                                                                                                                                        25251
en:spain                                                                                                                                                                                                                                                                                                                                                                                                                                          15021
en:switzerland                                                                                                                                                                                                                                                                                                                                                                                                                                    11792
                                                                                                                                                                                                                                                                                                                                                                                                                                                  ...
en:australia,en:france,en:italy                                                                                                                                                                                                                                                                                                                                                                                                                       1
en:bulgaria,en:cameroon,en:lithuania,en:romania,en:russia                                                                                                                                                                                                                                                                                                                                                                                             1
en:albania,en:algeria,en:andorra,en:argentina,en:australia,en:austria,en:belgium,en:canada,en:colombia,en:croatia,en:czech-republic,en:denmark,en:estonia,en:finland,en:france,en:germany,en:greece,en:hungary,en:iceland,en:ireland,en:italy,en:japan,en:jersey,en:liechtenstein,en:luxembourg,en:malta,en:mexico,en:peru,en:poland,en:portugal,en:slovakia,en:slovenia,en:spain,en:sweden,en:switzerland,en:united-kingdom,en:united-states         1
en:argentina,en:bolivia,en:mexico,en:paraguay,en:peru,en:uruguay,en:venezuela                                                                                                                                                                                                                                                                                                                                                                         1
en:france,en:germany,en:greece,en:spain,en:switzerland                                                                                                                                                                                                                                                                                                                                                                                                1
Name: countries_tags, Length: 3072, dtype: int64

In [11]:
df = df.reset_index(drop=True)

In [36]:
df['pnns_groups_1'] = df['pnns_groups_1'].str.lower()
df['pnns_groups_1'] = df['pnns_groups_1'].str.replace('-',' ')
df.pnns_groups_1.value_counts()

unknown                    215302
sugary snacks              101480
milk and dairy products     55774
cereals and potatoes        54883
beverages                   49956
fat and sauces              46253
fish meat eggs              44678
composite foods             37390
fruits and vegetables       34182
salty snacks                17435
Name: pnns_groups_1, dtype: int64

In [37]:
df['pnns_groups_2'] = df['pnns_groups_2'].str.lower()

In [47]:
df['ingredients_text'] = df['ingredients_text'].str.lower()
df['ingredients_text'] = df['ingredients_text'].str.strip('*^¨°&~#{[|')
df['product_name'] = df['product_name'].str.lower()

In [43]:
df['ingredients_text']

0         eau graines de téguments de moutarde vinaigre ...
1         antioxydant : érythorbate de sodium, colorant ...
2         lait entier, sucre, amidon de maïs, cacao, aga...
3         baguette poite vin pain baguette 50,6%: farine...
4         paln suédois 42,6%: farine de blé, eau, farine...
                                ...
657328    biocoop bordeaux lac distribue par les eleveur...
657329    citric acid, maltodextrin, instant tea, aspart...
657330    kabanosèrç sktadn' wiep -zekrobia, guszcz 'o.e...
657331    carmellosesodium (and) microcrystalline cellul...
657332    sahne (33%), erdbeeren (12%), zucker, weizenhm...
Name: ingredients_text, Length: 657333, dtype: object

In [107]:
en = df.loc[df['countries_tags'] == 'en:united-states']
en = en.reset_index(drop=True)
en['text'] = en['product_name'] + ' ' + en['ingredients_text']
en_full = pd.DataFrame(en['text'])
en_labelled = en.loc[en['pnns_groups_1'] != 'unknown'][['text','pnns_groups_1', 'pnns_groups_2']]
en_labelled

,text,pnns_groups_1,pnns_groups_2
53,organic baby lima beans organic baby lima beans,cereals and potatoes,legumes
136,"cranberries cranberries, sugar, sunflower oil.",fruits and vegetables,fruits
168,sliced plain bagel unbleached enriched flour (...,cereals and potatoes,bread
172,"muffin wheatflour, sugar, eggs, soybean oil, w...",sugary snacks,biscuits and cakes
178,apple turnover pastry: unbleached wheat flour ...,sugary snacks,pastries
...,...,...,...
313895,"cadbury chocolate hollow figure milk**, sugar,...",sugary snacks,sweets
313896,"monari fererzoni, balsamic vinegar of modena g...",fat and sauces,dressings and sauces
313898,organic kirkland marinara sauce organic ground...,fat and sauces,dressings and sauces
313900,premium onzas cassava.,cereals and potatoes,bread
313906,"almondmilk beverage, chocolate organic almondm...",beverages,plant-based milk substitutes

In [51]:
fr = df.loc[df['countries_tags'] == 'en:france']
fr = fr.reset_index(drop=True)
fr['text'] = df['product_name'] + ' ' + df['ingredients_text']
fr_full = pd.DataFrame(fr['text'])
fr_labelled = fr.loc[fr['pnns_groups_1'] != 'unknown'][['text','pnns_groups_1', 'pnns_groups_2']]
fr_labelled

,text,pnns_groups_1,pnns_groups_2
0,moutarde au moût de raisin eau graines de té...,fat and sauces,dressings and sauces
7,"peanuts peanuts, wheat flour, sugar, rice flou...",beverages,sweetened beverages
9,nectar d'abricot jus et purée d'abricots (50% ...,cereals and potatoes,bread
12,"organic salted nut mix organic hazelnuts, orga...",composite foods,one-dish meals
13,organic polenta organic polenta,milk and dairy products,dairy desserts
...,...,...,...
195248,"stoneground mustard aioli, stoneground soybean...",beverages,sweetened beverages
195249,baked pretzel twists unbleached enriched wheat...,composite foods,one-dish meals
195250,"buttermilk pancake & waffle mix, buttermilk en...",beverages,sweetened beverages
195251,"buttered toffee pancake & waffle mix, buttered...",fruits and vegetables,fruits
195254,"holiday train gingerbread kit, ginger cookies:...",fish meat eggs,offals

In [91]:
fr_labelled['text'] = fr_labelled['text_translated']
fr_labelled = fr_labelled.drop(columns=['text_translated'])
fr_labelled

,text,pnns_groups_1,pnns_groups_2
0,grape must mustard water mustard seeds red wi...,fat and sauces,dressings and sauces
7,"peanuts peanuts, wheat flour, sugar, rice flou...",beverages,sweetened beverages
9,"apricot nectar, juice and purée of apricots (5...",cereals and potatoes,bread
12,"organic salted nut mix organic hazelnuts, orga...",composite foods,one-dish meals
13,organic polenta organic polenta,milk and dairy products,dairy desserts
...,...,...,...
195248,"stoneground mustard aioli, stoneground soybean...",beverages,sweetened beverages
195249,baked pretzel twists unbleached enriched wheat...,composite foods,one-dish meals
195250,"buttermilk pancake & waffle mix, buttermilk en...",beverages,sweetened beverages
195251,"buttered toffee pancake & waffle mix, buttered...",fruits and vegetables,fruits
195254,"holiday train gingerbread kit, ginger cookies:...",fish meat eggs,offals

In [104]:
en_full

                                                     text
0       banana chips sweetened (whole) bananas, vegeta...
1       peanuts peanuts, wheat flour, sugar, rice flou...
2       organic salted nut mix organic hazelnuts, orga...
3                         organic polenta organic polenta
4       breadshop honey gone nuts granola rolled oats,...
...                                                   ...
313906  almondmilk beverage, chocolate organic almondm...
313907  mint melange tea a blend of peppermint, lemon ...
313908  noodle enriched wheat flour (wheat flour, niac...
313909  sugar free drink mix, peach tea citric acid, m...
313910  little remedies gas relief drops carmellosesod...

[313911 rows x 1 columns]

In [108]:
en_full = en_full.append(fr_labelled, ignore_index=True)
en_full = pd.DataFrame(en_full['text'])
en_full

                                                     text
0       banana chips sweetened (whole) bananas, vegeta...
1       peanuts peanuts, wheat flour, sugar, rice flou...
2       organic salted nut mix organic hazelnuts, orga...
3                         organic polenta organic polenta
4       breadshop honey gone nuts granola rolled oats,...
...                                                   ...
452145  stoneground mustard aioli, stoneground soybean...
452146  baked pretzel twists unbleached enriched wheat...
452147  buttermilk pancake & waffle mix, buttermilk en...
452148  buttered toffee pancake & waffle mix, buttered...
452149  holiday train gingerbread kit, ginger cookies:...

[452150 rows x 1 columns]

In [109]:
en_labelled = en_labelled.append(fr_labelled, ignore_index=True)
en_labelled

,text,pnns_groups_1,pnns_groups_2
0,organic baby lima beans organic baby lima beans,cereals and potatoes,legumes
1,"cranberries cranberries, sugar, sunflower oil.",fruits and vegetables,fruits
2,sliced plain bagel unbleached enriched flour (...,cereals and potatoes,bread
3,"muffin wheatflour, sugar, eggs, soybean oil, w...",sugary snacks,biscuits and cakes
4,apple turnover pastry: unbleached wheat flour ...,sugary snacks,pastries
...,...,...,...
342532,"stoneground mustard aioli, stoneground soybean...",beverages,sweetened beverages
342533,baked pretzel twists unbleached enriched wheat...,composite foods,one-dish meals
342534,"buttermilk pancake & waffle mix, buttermilk en...",beverages,sweetened beverages
342535,"buttered toffee pancake & waffle mix, buttered...",fruits and vegetables,fruits
342536,"holiday train gingerbread kit, ginger cookies:...",fish meat eggs,offals

In [85]:
path = r'C:\Users\Antoine\Coding Bootcamp\Open Food Facts\Notebooks\Model Evaluation'

In [87]:
import pickle

In [110]:
pkl_file_G1 = open(f'{path}\label_encoder_g1.pkl', 'rb')
le = pickle.load(pkl_file_G1)
pkl_file_G1.close()
pkl_file_G2 = open(f'{path}\label_encoder_g2.pkl', 'rb')
le_2 = pickle.load(pkl_file_G2)
pkl_file_G2.close()
en_labelled['label_G1'] = le.fit_transform(en_labelled['pnns_groups_1'])
en_labelled['label_G2'] = le_2.fit_transform(en_labelled['pnns_groups_2'])

In [111]:
en_labelled

,text,pnns_groups_1,pnns_groups_2,label_G1,label_G2
0,organic baby lima beans organic baby lima beans,cereals and potatoes,legumes,1,18
1,"cranberries cranberries, sugar, sunflower oil.",fruits and vegetables,fruits,5,16
2,sliced plain bagel unbleached enriched flour (...,cereals and potatoes,bread,1,3
3,"muffin wheatflour, sugar, eggs, soybean oil, w...",sugary snacks,biscuits and cakes,8,2
4,apple turnover pastry: unbleached wheat flour ...,sugary snacks,pastries,8,24
...,...,...,...,...,...
342532,"stoneground mustard aioli, stoneground soybean...",beverages,sweetened beverages,0,32
342533,baked pretzel twists unbleached enriched wheat...,composite foods,one-dish meals,2,23
342534,"buttermilk pancake & waffle mix, buttermilk en...",beverages,sweetened beverages,0,32
342535,"buttered toffee pancake & waffle mix, buttered...",fruits and vegetables,fruits,5,16
342536,"holiday train gingerbread kit, ginger cookies:...",fish meat eggs,offals,4,22

In [112]:
en_test_set = en_labelled.sample(50000, random_state=42)
en_train_set = en_labelled.drop(en_test_set.index)
en_test_set.shape, en_train_set.shape

((50000, 5), (292537, 5))

In [113]:
en_full.to_csv('en_full.csv')
en_labelled.to_csv('en_labelled.csv')
en_test_set.to_csv('en_test_set.csv', index=False)
en_train_set.to_csv('en_train_set.csv', index=False)